<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @user.email %>

    User's profile
    Messages
    <% Message.all.each do|message| %>
    <% if message.recipient == current_user.id %>
    <% user = User.find(message.sender) %>
    <br>from: <%= user.email %>
    <br><%= message.body %>
    <% end %>
    <% end %>
  </body>
</html>
