<% @notifications = Notification.where({user_id: current_user.id}) %>
<% array = []  %>
<% @notifications.each do |n|  %>
  <% if n.read == nil  %>
    <% array << n  %>
  <% end %>
<% end %>
<% c = array.count %>

  <% if c != 0  %>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-info-circle"></i>  <strong>You have </strong> <a href="/user/notifications" class="alert-link"><%= c %> unread notification<% if c != 1 %>s <% end %></a>
    </div>
  </div>
</div>
<% end %>
