<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @project.avatars.each { |avatar|  %>
      <%= @project.title %>
      <%= @project.genre %>
      <%= @project.description %>
      <audio controls>
        <source src="<%=audio_path avatar%>" type="audio/mpeg"></source>
      </audio>
      <% } %>
  </body>
</html>
