// Place all the styles related to the Ensemble controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signed-in-notice-alert {
  background-color: #fff;
  color:black;
  padding-top: 10px;
  padding-left:20px;

}
.signed-out-notice-alert {
  background-color:#000;
  color:white
}
