.sent-messages, .received-messages, .read-messages {
  margin-left: 15%;
  margin-right: 15%;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  max-width: 70%;
}

.sent-messages {
  background-color: #6699ff;
}

.received-messages {
  background-color: #ff6666;
}
.read-messages {
  background-color: #f7aab4;
}

.reply-box {
  width: 25%;
  textarea {
    resize: none;
  }
}
