.project-box {
  border: 1px black solid;
  display: flex;
  height: 100%;
  margin-bottom: 1em;
  .project-genre {
    height: 100%;
    background-color: grey;
    text-align: center;
    h3 {
      margin-top: 10px;
    }
  }

  .project-description {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.btn.btn-default {
  position: absolute;
  right: 40px;
}

#track_avatar {
  margin-right: 0px;
}
