<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <% if user_signed_in? %>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
          <a href="/projects"><i class="fa fa-fw fa-desktop"></i> Projects</a>
        </li>
        <li>
          <a href="/projects/1"><i class="fa fa-fw fa-bar-chart-o"></i> Collaborations</a>
        </li>
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Recent Projects <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
              <li>
                  <a href="#">Project 1</a>
              </li>
              <li>
                  <a href="#">Project 2</a>
              </li>
          </ul>
        </li>
    </ul>
</div>

<!-- /.navbar-collapse -->
<% end %>
